section
    display: flex
    flex-direction: column
    gap: 1rem

.card_container
    display: flex
    justify-content: space-between
    border: 1px solid var(--light)
    align-items: center
    border-radius: 1rem
    height: 80px
    padding: 1.5rem
    background-color: var(--light)
    backdrop-filter: blur(10px)
    -webkit-backdrop-filter: blur(10px)
    border: .1px solid #e6e6e6a9

.card_img
    display: flex
    align-items: center
    gap: 1rem
    & img
        padding: .2rem

.card_box
    width: 45px
    height: 45px
    border-radius: .5rem
    display: flex
    align-items: center
    justify-content: center

.card_detail
    padding-right: 1.5rem
