header
  padding: 1rem 0

nav
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  z-index: 2

.box_icon
  display: flex
  align-items: center
  justify-content: center
  width: 24px
  height: 24px
  cursor: pointer
  & img
    width: 100%

.input
  display: flex
  align-items: center
  gap: 0.5rem
  position: relative
  background: var(--light)
  border: 1px solid var(--light)
  border-radius: 0.5rem
  & input
    background: inherit
    border: inherit
    border-radius: 0.5rem
    padding: 0.5rem
    backdrop-filter: blur(10px)
    width: 91%
    -webkit-backdrop-filter: blur(10px)
  & img
    width: 22px
    position: absolute
    right: 0.5rem
    cursor: pointer

.hidden 
  display: none

.open
  width: 100%

.closed
  width: 80%

input:focus-visible
  outline: none

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
  -webkit-appearance: none

ul.list
  list-style: none
  padding: 0
  margin: 0
  width: 100vw
  display: flex
  flex-direction: column
  position: fixed
  top: 0
  left: 0
  z-index: 1
  padding: 5rem 1rem 2rem 1rem
  li
    padding: 0.3rem 0
    cursor: pointer
