#nextdays
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 2
    background: rgba(37, 37, 37, 0.856)
    padding: 1rem
    backdrop-filter: blur(3px)

.nav
    display: flex
    align-items: center
    justify-content: space-between
    gap: .5rem
    color: var(--white)

.back_icon
    display: flex
    align-items: center
    justify-content: center
    width: 24px
    height: 24px
    cursor: pointer
    & img
        width: 100%
